// Project styles


.col__content-spacing {
  > * + * {
    margin-top: $s2;
    @include bp($lg) { margin-top: $s4; }
  }
}

.flavour {
  position: relative;
  padding-bottom: $s6;
  &__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
  }
  &__image-link {
    position: relative;
    z-index: $z-content-upper;
    display: block;
    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 90%;
    }
  }
  &__text {
    position: relative;
    z-index: $z-content-upper;
    padding-left: $s0;
    padding-right: $s0;
    text-align: center;
  }
  &__title {
    font-family: $display;
    line-height: .9;
    font-size: $s3;
    font-weight: 600;
    font-style: italic;
  }
  &__sub {
    line-height: .9;
    font-size: $s0;
    font-family: $display;
  }
  &__link {
    display: inline-block;
    padding-top: $s-6;
    padding-left: $s-3;
    padding-right: $s-5;
    padding-bottom: $s-6;
    margin-top: $s0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $s-1;
    letter-spacing: .25rem;
    border-bottom: 1px solid black;
  }
  &--blueberry &__image { background-image: url('../img/products/cards/blueberry.jpg') }
  &--blueberry &__title { color: $lf-blueberry-text; }
  &--blueberry &__link {
    color: $lf-blueberry-text;
    border-bottom-color: $lf-blueberry-text;
  }
  &--blueberry {
    background-color: #fcdcdd;
    background: linear-gradient(90deg, rgba(233,239,255,1) 0%, rgba(243,246,255,1) 100%);
  }
  &--vanilla &__image { background-image: url('../img/products/cards/vanilla.jpg') }
  &--vanilla &__title { color: $lf-vanilla-text; }
  &--vanilla &__link {
    color: $lf-vanilla-text;
    border-bottom-color: $lf-vanilla-text;
  }
  &--vanilla {
    background-color: #fcdcdd;
    background: linear-gradient(90deg, rgba(242,235,207,1) 0%, rgba(246,238,215,1) 100%);
  }
  &--peach &__image { background-image: url('../img/products/cards/peach.jpg') }
  &--peach &__title { color: $lf-peach-text; }
  &--peach &__link {
    color: $lf-peach-text;
    border-bottom-color: $lf-peach-text;
  }
  &--peach {
    background-color: #fcdcdd;
    background: linear-gradient(90deg, rgba(255,233,194,1) 0%, rgba(255,238,210,1) 100%);;
  }
  &--lemon &__image { background-image: url('../img/products/cards/lemon.jpg') }
  &--lemon &__title { color: $lf-lemon-text; }
  &--lemon &__link {
    color: $lf-lemon-text;
    border-bottom-color: $lf-lemon-text;
  }
  &--lemon {
    background-color: #fcdcdd;
    background: linear-gradient(90deg, rgba(255,245,223,1) 0%, rgba(255,245,223,1) 100%);
  }
  &--cherry &__image { background-image: url('../img/products/cards/cherry.jpg') }
  &--cherry &__title { color: $lf-cherry-text; }
  &--cherry &__link {
    color: $lf-cherry-text;
    border-bottom-color: $lf-cherry-text;
  }
  &--cherry {
    background-color: #fcdcdd;
    background: linear-gradient(90deg, rgba(251,221,233,1) 0%, rgba(250,230,239,1) 100%);
  }
  &--strawberry &__image { background-image: url('../img/products/cards/strawberry.jpg') }
  &--strawberry &__title { color: $lf-strawberry-text; }
  &--strawberry &__link {
    color: $lf-strawberry-text;
    border-bottom-color: $lf-strawberry-text;
  }
  &--strawberry {
    background-color: #fcdcdd;
    background: linear-gradient(90deg, rgba(253,217,217,1) 0%, rgba(250,224,227,1) 100%);
  }
  &--coconut &__image { background-image: url('../img/products/cards/coconut.jpg') }
  &--coconut &__title { color: $lf-coconut-text; }
  &--coconut &__link {
    color: $lf-coconut-text;
    border-bottom-color: $lf-coconut-text;
  }
  &--coconut {
    background-color: #fcdcdd;
    background: linear-gradient(90deg, rgba(251,227,203,1) 0%, rgba(250,233,217,1) 100%);
  }
  &--raspberry &__image { background-image: url('../img/products/cards/raspberry.jpg') }
  &--raspberry &__title { color: $lf-raspberry-text; }
  &--raspberry &__link {
    color: $lf-raspberry-text;
    border-bottom-color: $lf-raspberry-text;
  }
  &--raspberry {
    background-color: #fcdcdd;
    background: linear-gradient(90deg, rgba(249,217,241,1) 0%, rgba(249,224,245,1) 100%);
  }
}

.btn {
  &--lf {
    background-image: none;
    background-color: $lf-blueberry;
    @include transition;
    &:hover,
    &:focus {
      background-color: darken($lf-blueberry, 12);
    }
  }
}

.shops {
  padding-top: $s0;
  .shop {
    $img-padding: $s-2 $s-1;
    display: inline-block;
    max-width: 140px;
    vertical-align: middle;
    padding: $img-padding;
    @include transition;
    position: relative;
    &--sainsburys { max-width: 180px; }
    &--tesco      { max-width: 140px; }
    &--asda       { max-width: 130px; }
    &--morrisons  { max-width: 130px; }
    &__color {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: $z-content;
      padding: $img-padding;
      opacity: 0;
      background-color: $white;
      @include transition;
    }
  }
}

.shop:hover,
.shop:active,
.shop:focus{
  .shop__color { opacity: 1; }
}