// Project styles


.col__content-spacing {
  > * + * {
    margin-top: $s2;
    @include bp($lg) { margin-top: $s4; }
  }
}

.flavour {
  position: relative;
  padding-bottom: $s6;
  &__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
  }
  &__image-link {
    position: relative;
    z-index: $z-content-upper;
    display: block;
    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 90%;
    }
  }
  &__text {
    position: relative;
    z-index: $z-content-upper;
    padding-left: $s0;
    padding-right: $s0;
    text-align: center;
  }
  &__title {
    font-family: $display;
    line-height: .9;
    font-size: $s3;
    font-weight: 600;
    font-style: italic;
  }
  &__sub {
    line-height: .9;
    font-size: $s0;
    font-family: $display;
  }
  &__link {
    display: inline-block;
    padding-top: $s-6;
    padding-left: $s-3;
    padding-right: $s-5;
    padding-bottom: $s-6;
    margin-top: $s0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $s-1;
    letter-spacing: .25rem;
    border-bottom: 1px solid black;
  }
  &--blueberry &__image { background-image: url('../img/products/cards/blueberry.jpg') }
  &--blueberry &__title { color: $lf-blueberry-text; }
  &--blueberry &__link {
    color: $lf-blueberry-text;
    border-bottom-color: $lf-blueberry-text;
  }
  &--blueberry {
    background-color: #cae1ff;
    background: linear-gradient(90deg, #cae1ff 75%, #d1e5ff 100%);
  }
  &--vanilla &__image { background-image: url('../img/products/cards/vanilla.jpg') }
  &--vanilla &__title { color: $lf-vanilla-text; }
  &--vanilla &__link {
    color: $lf-vanilla-text;
    border-bottom-color: $lf-vanilla-text;
  }
  &--vanilla {
    background-color: #fef7da;
    background: linear-gradient(90deg, #fef7da 75%, #fff8dc 100%);
  }
  &--peach &__image { background-image: url('../img/products/cards/peach.jpg') }
  &--peach &__title { color: $lf-peach-text; }
  &--peach &__link {
    color: $lf-peach-text;
    border-bottom-color: $lf-peach-text;
  }
  &--peach {
    background-color: #ffd394;
    background: linear-gradient(90deg, #ffd394 50%, #fed497 75%, #ffd89f 100%);
  }
  &--lemon &__image { background-image: url('../img/products/cards/lemon.jpg') }
  &--lemon &__title { color: $lf-lemon-text; }
  &--lemon &__link {
    color: $lf-lemon-text;
    border-bottom-color: $lf-lemon-text;
  }
  &--lemon {
    background-color: #fff2b5;
    background: linear-gradient(90deg, #fff2b5 50%, #fff1b6 75%, #fef3be 100%);
  }
  &--cherry &__image { background-image: url('../img/products/cards/cherry.jpg') }
  &--cherry &__title { color: $lf-cherry-text; }
  &--cherry &__link {
    color: $lf-cherry-text;
    border-bottom-color: $lf-cherry-text;
  }
  &--cherry {
    background-color: #fcdcdd;
    background: linear-gradient(90deg, #ffbeca 50%, #ffc0cb 75%, #ffc6cf 100%);
  }
  &--strawberry &__image { background-image: url('../img/products/cards/strawberry.jpg') }
  &--strawberry &__title { color: $lf-strawberry-text; }
  &--strawberry &__link {
    color: $lf-strawberry-text;
    border-bottom-color: $lf-strawberry-text;
  }
  &--strawberry {
    background-color: #fcdcdd;
    background: linear-gradient(90deg, #ffc4c4 50%, #ffc5c4 75%, #fdcbca 100%);
  }
  &--coconut &__image { background-image: url('../img/products/cards/coconut.jpg') }
  &--coconut &__title { color: $lf-coconut-text; }
  &--coconut &__link {
    color: $lf-coconut-text;
    border-bottom-color: $lf-coconut-text;
  }
  &--coconut {
    background-color: #ffe0c1;
    background: linear-gradient(90deg, #ffe0c1 50%, #fee1c1 75%, #fee3c6 100%);
  }
  &--raspberry &__image { background-image: url('../img/products/cards/raspberry.jpg') }
  &--raspberry &__title { color: $lf-raspberry-text; }
  &--raspberry &__link {
    color: $lf-raspberry-text;
    border-bottom-color: $lf-raspberry-text;
  }
  &--raspberry {
    background-color: #ffccd5;
    background: linear-gradient(90deg, #ffccd5 75%, #fed0d8 100%);
  }
}

.btn {
  &--lf {
    background-image: none;
    background-color: $lf-blueberry;
    @include transition;
    &:hover,
    &:focus {
      background-color: darken($lf-blueberry, 12);
    }
  }
  &--outline-white {
    @include transition;
    color: $white;
    &:before { border-color: $white; }
    &:hover {
      &:before { border-color: $white; }
      background: $white;
      color: $grey-darker;
    }
  }
  &--xxs {
    $scale-xxs: 10px;
    padding: $scale-xxs $scale-xxs*1.75;
    font-size: $scale-xxs + 1;
  }
}

.shops {
  padding-top: $s0;
  .shop {
    $img-padding: $s-2 $s-1;
    display: inline-block;
    max-width: 140px;
    vertical-align: middle;
    padding: $img-padding;
    @include transition;
    position: relative;
    &--sainsburys { max-width: 180px; }
    &--tesco      { max-width: 140px; }
    &--asda       { max-width: 130px; }
    &--morrisons  { max-width: 130px; }
    &__color {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: $z-content;
      padding: $img-padding;
      opacity: 0;
      background-color: $white;
      @include transition;
    }
  }
}

.shop:hover,
.shop:active,
.shop:focus{
  .shop__color { opacity: 1; }
}

.fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90%;
  min-height: calc(100% - #{$core-nav-height});
  padding-top: $s6;
  padding-bottom: $s6;
}

.width{
  &--flavour { max-width: 360px; }
  &--taste-escape {
    max-width: 300px;
    @include bp ($md) { max-width: 500px; }
    @include bp ($xxl) { max-width: 700px; }
  }
}